*{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 400px;
    margin: 10vh auto 0 auto;
    box-shadow: 0px 0px 43px 17px rgb(153, 153, 153,1);
}
.datetime{
    color: #fff;
    background: #10101e;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 380px;
    padding:15px 10px ;
    text-align: center;

}
.datetime:hover{
    background: #5a5a5a;
}
.date{
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    letter-spacing: 3px;
}
.time{
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.time span:last-child{
   position: relative;
   margin: 0 6px;
   font-weight: 600;
   text-align: center;
   letter-spacing: 1.5px;
}
.time span:last-child{
    background: none;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 5px;
}
#display{
    text-align: right;
    height: 70px;
    line-height: 70px;
    padding: 16px 8px;
    font-size: 25px;
}
.btn{
    color: rgb(248, 138, 12);
    font-weight: bold;
    font-size: 30px;
}
.buttons{
    display: grid;
    border-bottom: 1px solid #999;
    border-left: 1px solid #999;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.buttons > div {
    border-top: 1px solid#999;
    border-right: 1px solid#999;
}
.button{
    border: 0.5px;
    line-height: 100px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
}
#equal{
    background-color: blue;
    
}
.button:hover{
    background-color: #323330;
    color: white;
    transition: 0.5s ease-in-out;
}